//
// Theme style
//
// Initialize
@import 'init';

// Components
@import 'components/components';

// Layout
@import 'layout/layout';

// Icons
@import 'icons';

.user-menu-show {
	z-index: 111;
	position: absolute;
	inset: auto auto 0px 0px;
	margin: 0px;
	// transform: translate3d(14.5px, -70px, 0px);
	transform: translate3d(30px, -90px, 0px);
}

.scheme-menu-show {
	z-index: 111;
	position: absolute;
	inset: auto auto 0px 0px;
	margin: 0px;
	// transform: translate3d(14.5px, -70px, 0px);
	transform: translate3d(30px, -160px, 0px);
}

.z-109 {
	z-index: 109 !important;
}
.z-0 {
	z-index: 0 !important;
}
